body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

h1 {

}

.filter {
}

.table_container {
   padding: 30px;
   padding-top: 0px;
}

.header_container {
    margin: 2%;
}

.register_button {
    height: 50px;
    margin-left: 20px;
}
.toggle_view_button{
    height: 40px;
    position: relative;
}
.patients_container {
    margin: 20px;
}
