body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

h1 {

}

.filter {
    margin-right: 10%;
}

.table_container {
   padding: 30px;
   padding-top: 0px;
}

.header_container {
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.title_container{
    display: flex;
    justify-content: flex-start;
}

.filter_container{
    display: flex;
    justify-content: flex-end;

}

.register_button {
    height: 50px;
    margin-left: 20px;
}


.toggle_view_button{
    height: 40px;
    width: 50px;
}
.patients_container {
    margin: 20px;
}
